/* * {
	padding: 0px;
	margin: 0px;
} */

.wrapper {

	height:100vh;
	width:100vw;

	font-family:'Chelsea Market', sans-serif;



	background: #115650; /* Old browsers */
	background: -moz-linear-gradient(45deg, #115650 0%, #3e7d9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #115650 0%,#3e7d9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #115650 0%,#3e7d9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#115650', endColorstr='#3e7d9b',GradientType=1 ); IE6-9 fallback on horizontal gradient
}

.dicearea {
	border-top: solid 1px;
	border-bottom: solid 1px;
	background: #333;
	display:flex;
	flex-direction:row;
	font-size: 4rem;
	color: ivory;
}

.dicearea-selected {
	font-size:4rem;
}

.dicearea img {
	padding:5px;
		
}

.dice {
	margin-left: 10px;
	margin-right: 10px;
}

.selectedDice {
	border: 5px solid yellow;
	
}

.selectedDice img {
	padding: 0px;
}

#getDiceAreaSelected {
	cursor:none;
	pointer-events: none;
}