/* * {
	padding: 0px;
	margin: 0px;
} */

.wrapper {

	height:100vh;
	width:100vw;

	font-family:/*'Chelsea Market', */sans-serif;
}

.dicearea {
	border-top: solid 1px;
	border-bottom: solid 1px;
	background: #333;
	display:flex;
	flex-direction:row;
	font-size: 4rem;
	color: ivory;
}

.dicearea-selected {
	font-size:4rem;
}

.dicearea-selected img {
	
	background: black;
		
}


.dicearea img {
	padding:5px;
	background: black;
		
}

.dice  {
	margin-left: 10px;
	margin-right: 10px;

}

.selectedDice {
	border: 5px solid yellow;
	
}

.selectedDice img {
	padding: 0px;
}

#getDiceAreaSelected {
	cursor:none;
	pointer-events: none;
}